.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.add-button {
  margin-right: 20px;
}

.grid-item {
  box-sizing: border-box;
  background: #ccc;
  border: 1px solid black;
}

.grid-item.selected {
  background: #757575;
  color: #fff;
}

.grid-item.selected .react-resizable-handle::after {
  border-color: #fff;
}

.grid-item .text {
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 24px;
}